* {
  box-sizing: border-box;
}

body {
  font-family: "Inconsolata", monospace;
}

body,
h1,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

.bg-black {
  background-color: #000000;
}

.f-white {
  color: #ffffff;
}

.font-p {
  text-align: center;
  padding: 20px 100px;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.7;
  font-family: "Inconsolata", monospace;
}

.container {
  color: #111111;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* INICIO */

.indexmain {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h5 {
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  font-family: "Cinzel", cursive;
}

.titulo {
  text-align: center;
  font-size: 64px;
  font-family: "Cinzel Decorative", cursive;
  font-weight: 400;
}

strong {
  font-weight: 700;
  color: rgb(138, 14, 31);
}

.botao {
  display: inline-block;
  border: none;
  background-color: rgb(138, 14, 31);
  padding: 10px 50px;
  cursor: pointer;
  font-size: 20px;
  border-radius: 5px;
  margin-top: 15px;
  font-family: "Inconsolata", monospace;
  color: #ffffff;
}

.botao:hover {
  background-color: rgb(173, 40, 58);
}

/* PERSONAGENS */

.personagens {
  max-width: 800px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  gap: 40px;
}

#dica {
  margin-top: 0px;
  text-align: center;
}

.personagens h3 {
  font-family: "Inconsolata", monospace;
  text-transform: uppercase;
  color: #000000;
  text-align: center;
}

.personagens a {
  cursor: default;
}

ul {
  list-style: none;
  text-align: center;
}

li {
  margin-bottom: 20px;
}

.habilidades {
  font-weight: 700;
  color: rgba(0, 0, 0, 0.53);
}

.habilidades strong {
  font-weight: 700;
  color: rgba(0, 0, 0, 0.9);
}

.personagem-img {
  height: 100px;
  display: flex;
  place-items: end;
  margin-bottom: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px 70px;
  border-radius: 5px;
  transition: transform 250ms ease;
}

.sandy {
  background-color: #b9bcff;
}

.clint {
  background-color: #baffb9;
}

.bruna {
  background-color: #ffb9b9;
}

.sandy:hover,
.clint:hover,
.bruna:hover {
  transform: scale(1.05);
}

.btn {
  display: inline-block;
  border: none;
  background-color: rgb(138, 14, 31);
  padding: 6px 20px;
  cursor: pointer;
  font-size: 20px;
  border-radius: 5px;
  font-family: "Inconsolata", monospace;
  color: white;
  margin-bottom: 30px;
  font-weight: 500;
}

.btn:hover {
  background-color: rgb(173, 40, 58);
}

/* ENTRADA MASMORRA */

.entradamain {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* INTERIOR MASMORRA */

.interiormasmorra {
  background: url("../img/bginteriormasmorra.png") no-repeat center center fixed;
  background-size: cover;
}

.interiormasmorra strong {
  color: #00c230;
}

/* CORREDOR MASMORRA */

dl {
  padding: 0px 20px;
}

dt {
  margin-top: 10px;
}

dt strong {
  color: orange;
}

dd {
  margin-top: 5px;
}

/* GAME OVER */

.bg-red {
  background-color: #ff9696;
}

.gameover-titulo {
  text-align: center;
  font-size: 164px;
  font-family: "Cinzel Decorative", cursive;
  font-weight: 400;
}

.lobo {
  margin-top: 20px;
}

/* VITÓRIA */

.vitoria strong {
  color: #00c230;
}

.redesocial {
  display: flex;
  gap: 30px;
  margin: 40px 0 20px 0;
}

/* MEDIA QUERY */

@media (max-width: 800px) {
  .personagens {
    flex-direction: column;
  }
  .font-p {
    font-size: 18px;
    padding-left: 50px;
    padding-right: 50px;
  }
  .titulo {
    font-size: 48px;
  }
  .gameover-titulo {
    font-size: 100px;
  }

  .entradamain img {
    height: 25%;
  }
}
